{% load static %}
<footer class="footer mt-auto py-5 opacity-75">
    <div class="container text-center">
        <div class="d-flex flex-column align-items-center">
            <p class="text-secondary small mb-4" style="max-width: 450px;">
                focusing on clean design and essential features without the noise.
                <a href="https://github.com/fastfingertips/django-blog" class="text-reset border-bottom"
                    target="_blank">source</a>
            </p>

            <div class="text-secondary small tracking-widest text-none opacity-50">
                &copy; {% now "Y" %} &mdash; simplicity.
            </div>
        </div>
    </div>
</footer>