{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="container d-flex flex-column align-items-center">
    <a class="navbar-brand mb-3" href="{% url 'index' %}">
      BlogApp
    </a>

    <div class="d-flex gap-4 justify-content-center w-100 flex-wrap">
      <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
        href="{% url 'index' %}">Home</a>
      <a class="nav-link {% if 'article' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'article_urls:articles' %}">Articles</a>
      <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}"
        href="{% url 'about' %}">About</a>

      {% if request.user.is_authenticated %}
      <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
        href="{% url 'user_urls:dashboard' %}">Dashboard</a>
      <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
        href="{% url 'user_urls:profile' 'me' %}">Profile</a>
      <a class="nav-link text-danger" href="{% url 'user_urls:logout' %}">Logout</a>
      {% else %}
      <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}"
        href="{% url 'login' %}">Login</a>
      <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}"
        href="{% url 'register' %}">Register</a>
      {% endif %}
    </div>

    <form class="mt-3 w-100" action="{% url 'search' %}" style="max-width: 300px;">
      <input type="search" name="q" class="search-input w-100 text-center" placeholder="Search and hit enter..."
        aria-label="Search">
    </form>
  </div>
</nav>