{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<!-- Login form -->
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="lead">Login</div>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-secondary">
                    Login
                </button>
            </form>
        </div>
    </div>
<!-- /Login form -->
{% endblock %}